@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.mh1{
    font-family: 'Indie Flower';
    text-align: center;
}
.mh13{
    font-family: 'Indie Flower';
    text-align: center;
}
.mh14{
    font-family: 'Indie Flower';
    text-align: center;
}
.mh15{
    font-family: 'Indie Flower';
    text-align: center;
}
.mh16{
    font-family: 'Indie Flower';
    text-align: center;
}
.mh17{
    font-family: 'Indie Flower';
    text-align: center;
}

button{
    position: relative;
    color: black;
    top: 500px;
    left: 550px;
    margin-right: 30px;
}

.mh12{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

