@font-face{
    font-family: "CookieMonster";
    src: url('./cookiemonster-gv11-webfont.woff');
}

.mh1{
    font-family: 'CookieMonster';
    text-align: center;
}

button{
    position: relative;
    color: black;
    top: 500px;
    left: 550px;
    margin-right: 30px;
}

.mh12{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

